/*  Generales  */
h1, h2, h3, .precio, p{
    text-align: center;
}

h2{
    padding-top: 5rem;
}

h3{
    font-size: 2rem;
    margin: 0;
}

.precio{
    font-size: 2rem;
    margin: 0;
}

.texto{
    margin: 0;
}

span{
    color: #037BC0;
}

body{
    font-family: "Raleway", sans-serif;
    line-height: 2;
}

img{
    width: 100%;
    overflow: hidden;
}

#navegacion ul{
    display: flex;
    justify-content: space-between;
    margin: 2em 20em 2em 20em;
    list-style: none;
}

#navegacion ul li{
    margin: 0 10 px;
}

/*button{
    width: 20rem;
    align-self: center;
    background-color: #89BD00;
    color: white;
    font-family: serif;
    font-size: 2rem;
    border: 3px solid #54ad00;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}*/

.descripcion{
    color: white;
    background-color: #037BC0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*  Contenedor 1 */
#contenedor1{
    margin: 1.5rem 10%;
    display: grid;
    grid-template-columns: 60% 20% 20%;
    grid-template-rows: 400px;
    overflow: hidden;
}

#imagen1{
    grid-column: 1 / 3;
    grid-row: 1;
}

#descripcion1{
    grid-column: 2 / 4;
    grid-row: 1;
    border: none;
    border-radius: 1rem 0 0 1rem;
}

/*  Contenedor 2  */
#contenedor2{
    margin: 1.5rem 8%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 1fr 1fr;
    grid-column-gap: 0.5rem;
}

#imagen2{
    grid-column: 1;
    grid-row: 1 / 3;
}

#descripcion2{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: none;
    border-radius: 1rem 1rem 0 0;
}

#imagen3{
    grid-column: 2;
    grid-row: 1 / 3;
}

#descripcion3{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    border: none;
    border-radius: 1rem 1rem 0 0;
}

/*  Contenedor 3  */
#contenedor3{
    margin: 1.5rem 8%;
    width: 84%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: 3fr 1fr 1fr;
    grid-column-gap: 0.5rem;
}

#contenedor3 img{
    width: auto;
    height: 100%;
}

#imagen4{
    grid-column: 1;
    grid-row: 1 / 3;
    overflow: hidden;
}

#descripcion4{
    grid-column: 1;
    grid-row: 2 / 4;
    border: none;
    border-radius: 1rem 1rem 0 0;
}

#imagen5{
    grid-column: 2;
    grid-row: 1 / 3;
    overflow: hidden;
}

#descripcion5{
    grid-column: 2;
    grid-row: 2 / 4;
    border: none;
    border-radius: 1rem 1rem 0 0;
}

#imagen6{
    grid-column: 3;
    grid-row: 1 / 3;
    overflow: hidden;
}

#descripcion6{
    grid-column: 3;
    grid-row: 2 / 4;
    border: none;
    border-radius: 1rem 1rem 0 0;
}

/*  Contenedeor 4  */
.contenedor4{
    display: grid;
    margin: 1.5rem 8%;
    width: 84%;
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90% 10%;
    grid-gap: 0.5rem;
}

.contenedor4 img{
    border: none;
    border-radius: 1.5rem;
}

.catdesc{
    background-color: rgba(80, 80, 80, 0.85);
    border: none;
    border-radius: 0 0 1.5rem 1.5rem;
}

.catdesc p{
    margin: 0;
    padding: 0;
    color: white;
}

.categoria1{
    grid-column: 1;
    grid-row: 1 / 3;
}

.catdesc1{
    grid-column: 1;
    grid-row: 2 / 4;
}

.categoria2{
    grid-column: 2;
    grid-row: 1 / 3;
}

.catdesc2{
    grid-column: 2;
    grid-row: 2 / 4;
}

.categoria3{
    grid-column: 3;
    grid-row: 1 / 3;
}

.catdesc3{
    grid-column: 3;
    grid-row: 2 / 4;
}

/*  Footer  */
#pies{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pies *{
    text-align: center;
}

.cabeza{
    font-size: 2rem;
}

.pie{
    display: flex;
    flex-direction: column;
    list-style: none;
}

/*  Productos  */
@media(min-width: 768px){
    .producto1 img{
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
}

@media(min-width: 768px){
    .producto2 img{
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }

    .explicacion2{
        height: 20rem;
    }
}

@media(min-width: 768px){
    .producto3 img{
        height: 16rem;
        width: 100%;
        object-fit: cover;
    }

    .explicacion3{
        height: 16rem;
    }
}